/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f6e4c4;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: white;
  }

body{
    background-image: url("https://wttc.org/DesktopModules/MVC/Carousel/images/693/1_20200420110734_WTTC%20TogetherInTravel%20Image.jpg");
      background-size: cover;
}




.homepage-h1{
    color: #937d14;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 1px;
}

.homepage-text{
    color: #937d14;
    text-align: center;
    font-size: 24px;
}

.login-h3{
  color: #937d14;
  font-size: 23px;

}

.form-group{
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.list-group-item{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.status-image{
  max-width: 1000px;
  height: 300px;
}

#login-div{
  text-align: center;
}

#login-ul{
  display: inline-block;
  margin-right: 1%;
}



/* Add a black background color to the top navigation */

/* .timeline-navbar {
  background-color: #ecdfc8;
  overflow: hidden;
} */

/* Style the links inside the navigation bar */

/* .timeline-navbar a {
  float: left;
  color: #df7861;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
} */

/* Change the color of links on hover */

/* .timeline-navbar a:hover {
  background-color: #ecb390;
  color: #df7861;
}  */

/* Add a color to the active/current link */

/* .timeline-navbar a.active {
  color: #df7861;
} */

.profile_pic{
  position: absolute;
  top: 90px;
  left: 45px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
 }
 .profile_bio{
  position: absolute;
  top: 350px;
  left: 20px;
  width: 250px;
  height: 390px;
  border: 3px solid rgb(207, 146, 13);
 }
.status_container{
  position: absolute;
  top: 90px;
  left: 400px;
  width: 1000px;
  height: 250px;
  border: 3px solid rgb(207, 146, 13);
  background-color: white;
}
.status_pic{
  position: absolute;
  top: 5px;
  right: 0px;
  width: 200px;
  height: 200px;
 }
  


